{% extends 'base.html' %}

{% block content %}
<div class="container col-lg-6 col-md-8 col-sm-11 col-12 justify-content-between align-items-center ">
    <h2 class="mb-4 text-center text-white">All Songs with Comments</h2>
    {% for song in songs %}
    <div class="card mb-4 ">
        <div class="card-body text-white indigo-dye d-flex flex-column justify-content-center align-items-center  ">
            <h2 class="card-title comments-card-title">{{ song.artist_name }} - {{ song.song_title }}</h2>
            <ul class="list-group  col-11">
                {% for comment in comments %}
                {% if comment.music == song %}
                <div class="d-md-flex justify-content-between align-items-center comments-card-title">
                    <li class="list-group-item col-12 rounded-3">
                        <span class="text-center">{{ comment.text }}</span>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                -- {{ comment.user_profile.user.username }}
                            </div>
                            <div class="d-none d-sm-block">
                            Created at: {{ comment.created_at }}
                            <br>
                            Modified at: {{ comment.modified_at }}
                            </div>
                            <div class="d-flex">
                                {% if comment.user_profile.user == request.user or request.user.is_superuser %}
                                <!-- User who wrote the comment or a superuser goes here -->
                                <a href="{% url 'edit_comment' pk=comment.pk %}" class="btn btn-primary btn-sm me-2">Edit</a>
                                <!-- Y/N JavaScript -->
                                <a href="{% url 'comment_delete' comment.pk %}" class="btn btn-danger confirm-delete btn-sm">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </div>
                <hr>
                {% endif %}
                {% endfor %}
            </ul>
            <a href="{% url 'add_comment_to_song' pk=song.pk %}" class="btn btn-primary mt-3">Add Comment</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Wait for the DOM to be fully loaded before attaching the click event handler
        var deleteLinks = document.querySelectorAll('.confirm-delete');

        deleteLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var shouldDelete = confirm('Are you sure you want to delete this?');

                if (shouldDelete) {
                    window.location.href = link.getAttribute('href');
                }
            });
        });
    });
</script>
{% endblock %}