{% extends 'base.html' %}

{% block content %}
<div class="comments-card container col-10 col-sm-3 d-flex flex-column justify-content-center align-items-center comments-bg-color">
    <h1 class="comments-edit-card ">Make a Comment</h1>
    <form method="post" class="m-2" style="color: white;">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Summernote for id_text -->
        <script>
            $(document).ready(function () {
                console.log('Document is ready.');
                $('#id_text').summernote();
                console.log('Summernote initialized.');
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#id_text').summernote();
            });
        </script>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}