{% extends "base.html" %}

{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<main class="container d-flex justify-content-start align-items-center  min-height-padding-top ">
    <div class="mt-lg-3 mt-md-0 mt-sm-0 mt-0 ">
        <article class="col-xl-10 col-lg-10 col-md-9 col-sm-12 col-12 p-1 text-index">
               <h1 class="lifeline-font ">
                <i>Blue Pulse</i>
            </h1>
            <br>
            <p>
                Blue Pulse is more than just a musical collaboration; it's a dynamic fusion of two exceptionally skilled musicians, Paul
                <i>"Fingers"</i>
                Gleeson & Daren Hines. With a shared passion for rock and blues, this duo has been crafting a sound that captivates audiences and pays homage to the rich traditions of these genres.
            </p>
            <p>
                The duo are both full members of the “School of Life”, growing up separately in the streets of Dublin & South East London
                Founded in 1998, Blue Pulse has become synonymous with a commitment to musical authenticity. Paul and Darren, each a virtuoso in their own right, bring a wealth of experience and mastery to the table, creating a musical synergy that is both compelling and distinctive. Their journey began with a shared vision to produce music that not only honors their blues influences but also forges a unique sonic identity that sets them apart.
            </p>
            <p>
                The band's creative hub is the renowned Shagamatula Studios International, with recording locations spanning both London, England, and Southern Ireland. Using the cutting-edge Cubase: Music Production Software - DAW, Blue Pulse meticulously crafts their rock and blues-based compositions. It's here that their music comes to life, blending traditional blues elements with innovative production techniques, resulting in a sound that is both timeless and contemporary.
            </p>
            <p>
                Drawing inspiration from blues/rock luminaries such as Rory Gallagher, Muddy Waters, Led Zeppelin, BB King, Gary Moore, Deep Purple, and Joe Cocker, Blue Pulse pays homage to the roots of their craft while fearlessly pushing the boundaries of the blues genre. The band's dedication to their craft is evident in every meticulously recorded note, showcasing a love for the music that goes beyond mere performance.
            </p>
            <p>
                Blue Pulse is not just a band; it's a testament to the enduring power of collaboration and the boundless possibilities within the blues and rock genres. Their music is a journey, a celebration of the past, and a nod to the future. With every chord struck and every lyric sung, Blue Pulse invites listeners to join them on a musical odyssey where tradition meets innovation, resulting in a sound that is both timeless and refreshingly contemporary.
               
            </p>
             <span class="text-center feel-beat">Feel The Beat</span>
        </article>
    </div>
</main>
{% endblock %}