/* General page setup */

.all-body {
    background-image: url('/static/images/studio_back.jpg');
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 140px);
    width: 100vw;
}

/* Div Centering to left */
.center-element {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Merchandis all */

.card-img-top {
    max-width: 90%;
    max-height: 80%;
    width: 250px;
    height: 250px;

}

.card-music-height {
    min-height: 50px;

}


/* Song/Music/List  */

.song-li {
    list-style-type: none;
}

.song-head {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #EAEAEA;
}

.song-card {
    color: white;
    min-height: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.song-main {
    background-color: deepskyblue;

}
/* Navbar Top */
.nav-bar-text {
    color: white;
    font-size: large;
}

.navbar-top {
    background-color: #00719c;
}

/* Navbar Bottom */
.second-navbar {
    background-color: #001f2b;

}
.second-navbar-li {

    padding-left: 25px;
    padding-right: 25px;
    color: #EAEAEA;
}

.second-navbar-li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    white-space: nowrap;
    font-size: ;
}


/* Footer phantom main page */

.min-height {
    min-height: calc(100vh - 350px);
}

.min-height-login {

    padding-top: 200px;
}


/* Swatch Colors background colors */

.deep-sky-blue {
    background-color: #00b8ff;
}

.rich-electric-blue {
    background-color: #009bd6;
}

.sea-blue {
    background-color: #00719c;
}

.indigo-dye {
    background-color: #00415a
}


.rich-black {
    background-color: #001f2b
}

/* Slider for Audio song page */
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: deepskyblue;
}

/* Audio */
audio {
    display: flex;
}

/* Dev tool for centering */

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

/*  Fonts */
@font-face {
    font-family: 'ECG Font';
    src: url('/static/lifeline-font/Lifeline-7O6A.ttf') format('truetype');
}

/* Pulse Font */
.lifeline-font {
    font-family: 'ECG Font', sans-serif;
    font-weight: 100;
    font-size: xx-large;
    color: white;


}

/* Allauth  */

.login label,
.login .error-message,
.login input[type="text"],
.login input[type="email"],
.login input[type="password"] {
    color: white;

}

/* Cards */
.item-discpt {
    color: white;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.card-title,
.card-text {
    color: antiquewhite;
}

.merch-card-text {
    color: antiquewhite;
}

/* Detail main */

.detail-main-background {
    background-color: white;
}


/* Merchandise Discription Text Tags */


.discription-page-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* Star Rating */
.stars {
    display: inline-block;
    font-size: 0;
}

.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 2px;

}

.star.gold {
    background-color: gold;
}

.merch-item-height {
    height: auto;
    width: auto;
    background-color: #00415a
}

/* To Be deleted */
.black-line {
    height: 20px;
    background-color: black;
}

/* Gold horizontal line */
.gold-line {
    height: 20px;
    background-color: gold;
}

/* Shopping bag */

.shopping-text{
    color: white;
}

.shopping-text-hr{
    color: white;
    font-weight: 600;
    height: 5px;
}


/* Bag Page */

.btn-outline-black {
    background: white;
    color: black !important;    /*  Override link colors */
    border: 1px solid black;
}


/* Media Sizes */
/* ------------------------------------- */


/* Remove gap at to of small screen */
@media(max-width: 767px) {
    .min-height,
    .adjust-index-height {
        align-items: flex-start;
        min-height: auto;


    }
}
