{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <h1 class="text-center lifeline-font pt-lg-5 pt-md-3 pb-3"> <i>Merchandise</i></h1>
    <!-- Rendering All Merchandise -->
    <div class="row justify-content-center align-items-center">
        <div class="col-xxl-8 col-xl-6 col-md-8 col-sm-10 col-12 ">
            <div class="row justify-content-center">
                {% for merch in all_merch %}
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-1 ">
                    <div class="card indigo-dye rounded-3">
                        {% if merch.image %}
                        <a href="{% url 'merch_item' merch.id %}" class="mx-auto merch-image-height">
                            <img src="{{ merch.image.url }}" alt="{{ merch.name }}" class="card-img-top img-fluid m-2 rounded-3" />
                        </a>
                        </a>
                        {% else %}
                        <a href="{% url 'merch_item' merch.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ merch.name }}</h5>
                            <p class="card-text">Price: €{{ merch.price }}</p>
                            <p class="card-text">Category: {{ merch.category }}</p>
                            <small class="text-muted rating ">
                                <i class="fas fa-star mr-1 star  " style="color: gold"></i>
                                <span class="text-white">{{ merch.rating }}/5 </span>
                            </small>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'edit_product' merch.id %}">Edit</a>
                                <a class="text-danger confirm-delete" href="{% url 'delete_product' merch.id %}">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Wait for the DOM to be fully loaded before attaching the click event handler
        var deleteLinks = document.querySelectorAll('.confirm-delete');

        deleteLinks.forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                var shouldDelete = confirm('Are you sure you want to delete this?');

                if (shouldDelete) {
                    window.location.href = link.getAttribute('href');
                }
            });
        });
    });
</script>

{% endblock %}