{% extends 'base.html' %}

{% block content %}
<main class="container-fluid green">
    <h1 class="text-center lifeline-font" style="margin-top: 70px;"> <i>Merchandise</i></h1>
       
    <div class="row justify-content-center align-items-center">
        <div class="col-xl-9 col-md-11 col-sm-12 col-12">
            <div class="row justify-content-center">
                {% for merch in all_merch %}
                    <div class="col-lg-3 col-md-6 col-sm-8 col-12 p-1">
                        <div class="card indigo-dye">
                            <a href="{% url 'merch_item' merch.id %}">
                                <img src="{{ merch.image.url }}" alt="{{ merch.name }}" class="card-img-top img-fluid p-3" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ merch.name }}</h5>
                                <p class="card-text">Price: €{{ merch.price }}</p>
                                <p class="card-text">Category: {{ merch.category }}</p>
                                <small class="text-muted rating">
                                    <i class="fas fa-star mr-1 star" style="color: gold"></i>
                                    {{ merch.rating }}/5
                                </small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}