{% extends 'base.html' %} {% block content %}
<main class="container-fluid d-flex align-items-center justify-content-center min-height-main-footer">
    <div class="container merch-item-height d-flex align-items-center justify-content-center rounded-4">
        <div class="row">
            <!-- On Large Screens, Display Side by Side -->
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="{{ merch_item.image.url }}" alt="{{ merch_item.name }}" class="img-fluid p-3 rounded-5" />
            </div>
            <div class="col-md-6 align-content-around">
                <!-- Right Side Text -->
                <br />
                <h5 class="card-title">{{ merch_item.name }}</h5>
                <br />
                <p class="card-text">{{ merch_item.description }}</p>
                <br />
                <p class="card-text">Price: ${{ merch_item.price }}</p>
                {% if merch_item.rating %}
                <small class="discription-page-text rating"><i class="fas fa-star mr-1 star"
                        style="color: gold"></i>{{merch_item.rating }} / 5
                </small>
                {% else %}
                <p class="discription-page-text">No rating yet</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}