{% extends 'base.html' %} {% block content %}
<main class="container-fluid d-flex align-items-center justify-content-center min-height-main-footer">
    <div class="container merch-item-height d-flex align-items-center justify-content-center rounded-4">
        <div class="row">
            <!-- On Large Screens, Display Side by Side -->
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="{{ merch_item.image.url }}" alt="{{ merch_item.name }}" class="img-fluid p-3 rounded-5" />
            </div>
            <div class="col-md-6 align-content-around">
                <!-- Right Side Text -->
                <br />
                <h5 class="card-title">{{ merch_item.name }}</h5>
                <br />
                <p class="card-text">{{ merch_item.description }}</p>
                <br />
                <p class="card-text">Price: ${{ merch_item.price }}</p>
                {% if merch_item.rating %}
                <small class="discription-page-text rating"><i class="fas fa-star mr-1 star"
                        style="color: gold"></i>{{merch_item.rating }} / 5
                </small>
                {% else %}
                <p class="discription-page-text">No rating yet</p>
                {% endif %}
                <form class="form" action="{% url 'add_to_bag' merch_item.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ merch_item.id }}" id="id_qty_{{ merch_item.id }}">
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <a href="{% url 'all_merchandise' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}