{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="signup-container">
  <h1 class="signup-text">{% trans "Sign Up" %}</h1>

  <p class="signup-text">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="signup-text">sign in</a>.{% endblocktrans %}</p>

  <form class="signup signup-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <br>
    <button type="submit" class="">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
{% endblock %}