{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta_links %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Explore the soulful collaboration of Blue Pulse—Paul
    'Fingers' Gleeson and Daren 'The Belter' Hines.
    Masters of rock and blues, influenced by legends like Rory Gallagher, 
    Muddy Waters, and BB King. Since 1998, they've crafted a unique sound in Shagamatula 
    Studios, using Cubase: Music Production Software. Feel the #BluesyExcitement and dedication in every note played by this 
    talented duo. #BluePulse #RockMusic #BluesMusic">
    <meta name="keywords"
        content="Blue Pulse, Music, Merchandise, Demo, Band, Album, Concert, Apparel, Rock Music, Blues Music, Fan Merchandise, Online Store">
    <meta name="author" content="Paul Gleeson">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#007BFF">
    {% endblock %}

    {% block extra_meta_links %}
    {% endblock %}

    {% block boot_strap %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% endblock %}

    {% block extra_boot_strap %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corecss %}
    <!-- Include Summernote CSS from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css">
    <!-- Summernote custom styles -->
    <link rel="stylesheet" href="{% static 'styles/css/custom-summernote.css' %}">
    <!-- Font Awesome -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Additional CSS file location -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/style.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    {% endblock %}




    {% block corejs %}
    <script src="https://kit.fontawesome.com/21d09db21b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}


    {% block extra_javascript %}
    {% endblock %}

    <title>Blue Pulse Demo</title>
</head>

<body class="all-body card">
    <header class="head-head fixed-top" role="banner">
        <nav class="navbar navbar-expand-lg navbar-top" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand text-white" href="{% url 'home' %}"><strong>Blue Pulse</strong> </a>
                <!-- Query -->
                <div class="col-6 col-lg-4 my-auto py-1 py-lg-0 ">
                    <form method="GET" action="{% url 'all_merchandise' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0 " type="text" name="q"
                                placeholder="Search for Merchandise">
                            <div class="input-group-append">
                                <button class="form-control btn btn-black border border-black rounded-0" type="submit"
                                    aria-label="Search">
                                    <span class="icon text-white">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Login/Logout seperate in first nav bar-->
                <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                    <ul class="navbar-nav d-flex flex-row justify-content-evenly ">
                        <li class="list-inline-item dropdown ">
                            <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg text-white"></i></div>
                                    {% if request.user.is_authenticated %}
                                    <p class="my-0 text-white">My Account</p>
                                    {% else %}
                                    <p class="my-0 text-white">Register/Login</p>
                                    {% endif %}
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options" aria-haspopup="true">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="dropdown-item">Product Management</a>
                                <a href="{% url 'add_merch' %}" class="dropdown-item">Add Merchandise</a>
                                <a href="{% url 'song_create' %}" class="dropdown-item">Add Song</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item ">
                            <a class="{% if grand_total %} font-weight-bold{% else %}text-black{% endif %} nav-link"
                                href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg text-white"></i></div>
                                    <p class="my-0 text-white">
                                        {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                        {% else %}
                                        $0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Second Navbar (White Background) -->
        <nav class="navbar navbar-expand-lg second-navbar">
            <div class="container align-content-center">
                <button class="navbar-toggler border-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon bg-white"></span>
                </button>

                <div class="collapse navbar-collapse second-navbar-li" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item second-navbar-li ">
                            <a class="nav-link nav-active-color {% if request.path == '/' %}active{% endif %}"
                                aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item second-navbar-li">
                            <a class="nav-link nav-active-color {% if request.path == '/song_list' %}active{% endif %}"
                                aria-current="page" href="{% url 'song_list' %}">Anthology</a>
                        </li>
                        <li class="nav-item second-navbar-li">
                            <a class="nav-link nav-active-color {% if request.path == '/contact_us/' %}active{% endif %}"
                                aria-current="page" href="{% url 'contact_us' %}">Contact Us</a>
                        </li>

                        <li class="nav-item second-navbar-li">
                            <a class="nav-link nav-active-color {% if request.path == '/song_all_comments/' %}active{% endif %}"
                                aria-current="page" href="{% url 'song_all_comments' %}">Comments</a>
                        </li>


                        <li class="nav-item dropdown ">
                            <a class="nav-link nav-bar-status dropdown-toggle" aria-current="page" role="button"
                                id="merchandiseDropdown" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" aria-label="Explore Merchandise Categories">
                                Merchandise
                            </a>
                            <div class="dropdown-menu border-0 custom-dropdown-menu second-navbar "
                                aria-labelledby="merchandiseDropdown ">
                                <ul class="navbar-nav flex-column ">
                                    <!-- Change the class to 'flex-column' for a vertical layout -->
                                    <li class="nav-item second-navbar-li second-navbar">
                                        <a class="nav-link nav-bar-status dropdown-item"
                                            href="{% url 'all_merchandise' %}">All
                                            Merchandise</a>
                                    </li>
                                    <li class="nav-item second-navbar-li second-navbar">
                                        <a class="nav-link nav-bar-status dropdown-item"
                                            href="{% url 'all_merchandise' %}?category=clothes">Clothes</a>
                                    </li>
                                    <li class="nav-item second-navbar-li second-navbar">
                                        <a class="nav-link nav-bar-status dropdown-item"
                                            href="{% url 'all_merchandise' %}?category=memorabilia">Memorabilia</a>
                                    </li>
                                    <li class="nav-item second-navbar-li second-navbar">
                                        <a class="nav-link nav-bar-status dropdown-item"
                                            href="{% url 'all_merchandise' %}?category=cd">Anthology CD</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% load account %}

        <div class="d-none d-md-block">
            <!-- Hide on small screens -->
            {% if request.user.is_authenticated %}
            <h4 class="align-items-center text-white title-all-song p-3">Welcome back, {{ user }}!</h4>
            {% else %}
            <h4 class="align-items-center text-white title-all-song p-3">Welcome, Guest!</h4>
            {% endif %}
        </div>


    </header>
    <!-- Messages alert area -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="w-100 flex-shrink-0 mx-auto mt-3 " role="contentinfo">
        <div class="row justify-content-center ">

            <div class="col-12">
                <div class="row  row-1 ">
                    <div class="col-sm-3 text-center my-auto">
                        <small>&#9400; Blue Pulse Band</small>
                        <br>
                        <small>Email: <a href="mailto:bluepulseband@gmail.com">BluePulseBand@gmail.com</a></small>
                    </div>
                    <div class="col-md-3  "></div>
                    <div class="col-md-3 "></div>
                    <div class="col my-auto text-md-left text-right">
                        <small>
                            <span>
                                <a class="btn btn-link btn-floating btn-lg text-white m-1"
                                    href="https://www.facebook.com/profile.php?id=61554153687984" role="button"
                                    rel="nofollow" data-mdb-ripple-color="dark" aria-label="Visit our Facebook page">
                                    Facebook<i class="fa-brands fa-facebook" aria-hidden="true"></i>
                                </a>
                            </span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>


    <!-- Message Timer -->
    <script>
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2500);
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
    <script src="{% static 'styles/js/quantity_update.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

    <script>
        // Allows only song to play at a time
        document.addEventListener('play', function (e) {
            var audios = document.getElementsByTagName('audio');
            for (var i = 0, len = audios.length; i < len; i++) {
                if (audios[i] != e.target) {
                    audios[i].pause();
                }
            }
        }, true);
    </script>
    {% endblock %}



</body>

</html>